<div class="pb-2 mt-4 mb-2 border-bottom">
    <h3>Add Project</h3>      
  </div>
<form #projectform="ngForm" (ngSubmit)="saveProjectDetails(projectform)">
  <div class="form-group row">
    <label for="project" class="col-sm-2 col-form-label">Project</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="projectId" placeholder="project name" name="project" ngModel
        required />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" (change)="changeCheck($event)" checked id="setStartEndDate"
          name="formCheckbox" ngModel >
        <label class="form-check-label" for="defaultCheck1">
          Set Start and End Date
        </label>
      </div>
    </div>
    <div class="col-sm-6 row">
      <div class="col-sm-6">
        <input type="date" [disabled]="disabledDuration" class="form-control " id="startDate" placeholder="Start Date"
          name="startDate" ngModel  />
      </div>
      <div class="col-sm-6">
        <input type="date" [disabled]="disabledDuration" class="form-control" id="endDate" placeholder="End Date"
          name="endDate" ngModel  />
      </div>


    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Priority</label>

    <div class="col-sm-10">
      <input type="range" class="custom-range" value="0" max="30" min="0" id="formControlRange" name="priority" ngModel
        required></div>

  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Manager</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="manager" disabled placeholder="Enter Manager Name" name="manager" [(ngModel)]='selectedmanager'
        required />
    </div>
    
      <button class="btn btn-md btn-info col-sm-2" id="search" type="button" (click)='openModal()'>Search</button>    
  </div>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10 text-right">
      <button type="submit" class="btn btn-primary mr-2" [disabled]="!projectform.form.valid">Add</button>
      <button type="button" class="btn btn-secondary" (click)="onReset(projectform)">Reset</button>
    </div>
  </div>
</form>
<hr />
<div class="content" *ngIf='projects && projects.length'>
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control" id="search" placeholder="Search..." name="project" ngModel required />
    </div>
  </div>
  <div class="row">
      <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition modal-backdrop-grey" [ngStyle]="{'display':display}"></div>       
    <!-- Modal section -->
    <div id="bootstrapModel" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">              
            <h6 class="modal-title">Managers List</h6>
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
          </div>
          <!-- model body section -->
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="searchmanager" placeholder="Search Manager..." name="project" [(ngModel)]='mgsearchText' required />
                  </div>                 
                </div>
                <br />
                <div class="row">
                    <ul class="list-group list-group-flush col-md-12">
                        <li *ngFor="let user of Users | filter : 'name' : mgsearchText" class='list-group-item d-flex justify-content-between align-items-center'
                          [class.selected]="user === selectedItem"
                          (click)="onSelect(user)">
                          {{user.name}} <span>{{user.id}}</span> 
                        </li>
                      </ul>
                </div>
                <div class="row d-none" *ngIf="selectedItem" >
                    <div><span>id: </span>{{selectedItem.id}}</div>
                    <div>
                      <label>name: {{selectedItem.name}}                        
                      </label>
                    </div>
                  
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>           
            <button type="button" class="btn btn-primary" (click)="onSelectedManager()">Select</button>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div class="form-inline ">
        <label for="parenttask_Name" class="col-md-4 col-form-label"><strong>Sort By:</strong></label>
        <div class="form-group">
          <div class="">
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="Start Date">Start Date</button>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="End Date">End Date</button>
          </div>
        </div>
        <div class="form-group">
          <div>
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="">Priority</button>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="">Completed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <ng-container *ngFor='let project of projects'>
    <div class="row" style="background: lightgrey">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4"><strong> Project:</strong></div>
          <div class="col-md-8">
            <label name="projectDescription">{{project.Project}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>No. of tasks:</strong>
          </div>
          <div class="col-md-3">
            <label>5</label>
          </div>
          <div class="col-md-3">
            <strong>Completed:</strong>
          </div>
          <div class="col-md-3">
            <label>Yes</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Start Date:</strong>
          </div>
          <div class="col-md-3">
            <label>{{project.StartDate | date:'dd/MM/yyyy'}}</label>
          </div>
          <div class="col-md-3">
            <strong>End Date:</strong>
          </div>
          <div class="col-md-3">
            <label>{{project.EndDate | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12"><strong>Priority:</strong></div>
        </div>
        <div class="row">
          <label class="col-md-12">{{project.Priority}}</label>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-sm active btn-primary mb-2 mt-2">
              Update
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-sm btn-warning  mb-2 mt-2">
              Suspend
            </button>
          </div>
        </div>
      </div>

    </div>
    <hr />
  </ng-container>
</div>