<form>
  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="task_Name" class="col-md-3 col-form-label">Task Name</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="task_Name" placeholder="Task Name" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="parenttask_Name" class="col-md-3 col-form-label">Parent Task Name</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="parenttask_Name" placeholder="Parent Task" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="priorityFrom" class="col-md-6 col-form-label">Priority From</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="priorityFrom" placeholder="Priority From" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="priorityTo" class="col-md-6 col-form-label">Priority To</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="priorityTo" placeholder="Priority To" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="col-4 col-form-label" for="start_Date">Start Date</label>
        <div class="col-8">
          <div class="input-group">
            <input name="start_Date" class="form-control" id="start_Date" type="text" placeholder="Start Date">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="col-4 col-form-label" for="end_Date">End Date</label>
        <div class="col-8">
          <div class="input-group">
            <input name="end_Date" class="form-control" id="end_Date" type="text" placeholder="End Date">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <label for="endDate" class="col-md-6 col-form-label">End Date</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="endDate" placeholder="End Date" />
      </div> -->
    </div>
  </div>
</form>
