<form>
  <div class="form-row form-inline">
    <div class="col-md-6">
      <div class="form-group">
        <label for="task_Name" class="col-md-3 col-form-label">Task Name</label>
        <div class="col-md-9">
          <input type="text" class="col-md-12" id="task_Name" placeholder="Task Name" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="parenttask_Name" class="col-md-4 col-form-label">Parent Task Name</label>
        <div class="col-md-8">
          <input type="text" class="col-md-12" id="parenttask_Name" placeholder="Parent Task" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-row form-inline">
    <div class="col-md-3">
      <div class="form-group">
        <label for="priorityFrom" class="col-md-6 col-form-label">Priority From</label>
        <div class="col-md-6">
          <input type="text" class="col-md-12" id="priorityFrom" placeholder="0" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="priorityTo" class="col-sm-6 col-form-label">Priority To</label>
        <div class="col-sm-6">
          <input type="text" class="col-md-12" id="priorityTo" placeholder="30" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="startDate" class="col-sm-8 col-form-label">Start Date</label>
        <div class="col-sm-4">
          <input type="text" class="col-md-12" id="startDate" placeholder="Start Date" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="endDate" class="col-sm-4 col-form-label">End Date</label>
        <div class="col-sm-8">
          <input type="text" class="col-md-12" id="endDate" placeholder="End Date" />
        </div>
      </div>
    </div>
  </div>
</form>
<table class="table">
  <thead>
    <tr>

      <th>
        Task
      </th>
      <th>
        Parent
      </th>
      <th>
        Priority
      </th>
      <th>
        Start
      </th>
      <th>
        End
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>

    </tr>
  </tbody>
</table>