<form class="d-none">
  <div class="form-row form-inline ">
    <div class="col-md-6">
      <div class="form-group">
        <label for="task_Name" class="col-md-3 col-form-label">Task Name</label>
        <div class="col-md-9">
          <input type="text" class="col-md-12" id="task_Name" placeholder="Task Name" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="parenttask_Name" class="col-md-4 col-form-label">Parent Task Name</label>
        <div class="col-md-8">
          <input type="text" class="col-md-12" id="parenttask_Name" placeholder="Parent Task" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-row form-inline">
    <div class="col-md-3">
      <div class="form-group">
        <label for="priorityFrom" class="col-md-6 col-form-label">Priority From</label>
        <div class="col-md-6">
          <input type="text" class="col-md-12" id="priorityFrom" placeholder="0" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="priorityTo" class="col-sm-6 col-form-label">Priority To</label>
        <div class="col-sm-6">
          <input type="text" class="col-md-12" id="priorityTo" placeholder="30" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="startDate" class="col-sm-5 col-form-label">Start Date</label>
        <div class="col-sm-7">
          <input type="date" class="col-md-12" id="startDate" placeholder="Start Date" />

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="endDate" class="col-sm-5 col-form-label">End Date</label>
        <div class="col-sm-7 ">
          <input type="date" class="col-md-12" id="endDate" placeholder="End Date" />
        </div>
      </div>
    </div>
  </div>
</form>
<form class="form-group">
  <div class="form-row form-inline">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
                <label for="project_Name" class="col-form-label"><strong>Project:</strong></label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="project_Name" placeholder="Project" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary btn-sm  mr-1" type="button" value="" >Search</button>
            </div>
          </div>
        </div>
    <div class="col-md-6">
      <div class="form-inline ">
        <label for="parenttask_Name" class="col-md-2 col-form-label">Sort By:</label>
        <div class="form-group">
          <div class="">
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="Start Date" >Start Date</button>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="End Date" >End Date</button>
          </div>
        </div>
        <div class="form-group">
          <div>
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="" >Priority</button>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button class="btn btn-secondary btn-sm  mr-1" type="button" value="" >Completed</button>
          </div>
        </div>
      </div>
    </div>

</div>

</form>
<table class="table" *ngIf='tasks && tasks.length'>
  <thead>
    <tr>
      <th class="d-none">
      </th>
      <th>
        Task
      </th>
      <th>
        Parent
      </th>
      <th>
        Priority
      </th>
      <th>
        Start
      </th>
      <th>
        End
      </th>
      <th class="d-none">
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let task of tasks'>
      <td class="d-none">{{task.Task_ID}}</td>
      <td>
        <div class="card" style="width: 12rem;background:lightgrey;">
          <div class="card-body">{{task.TaskDetail}}</div>
        </div>
      </td>
      <td><span class="d-none">{{task.ParentTask_ID}}</span>
        <div class="card" style="width: 12rem;background:lightgrey;">
          <div class="card-body">{{task.Parent}}</div>
        </div>
      </td>
      <td>{{task.Priority}}</td>
      <td>{{task.StartDate | date:'dd/MM/yyyy'}}</td>
      <td>{{task.EndDate | date:'dd/MM/yyyy'}}</td>
      <td class="d-none">{{task.Status}}</td>
      <td>
        <div class="form-group">
          <button class="btn btn-secondary btn-sm" data-target="editModalForm"
            [routerLink]="['/view', task.Task_ID]" >Edit</button> |
          <button class="btn btn-secondary btn-sm">End Task</button> |
          <button class="btn btn-danger btn-sm" (click)='deleteEmployee(task.TaskId)'>Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
