<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header">
    <h1>
      {{ title }}!
    </h1>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <button class="btn btn-primary col-sm-3" [routerLink]="['/add']" routerLinkActive="router-link-active">Add
        Task</button>
      <button class="btn btn-primary col-sm-3" [routerLink]="['/view']">View Task</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
