<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3>Add Tasks</h3>
</div>
<form #addtaskform="ngForm" (ngSubmit)="addNewTask(addtaskform)">
  <div class="form-group row">
    <label for="project" class="col-sm-2 col-form-label">Project:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="projectId" placeholder="project name" name="projectName" ngModel
        required />
    </div>
    <button class="btn btn-info col-sm-2" (click)='onSearchProject()' type="button">Search</button>
  </div>
  <div class="form-group row">
    <label for="taskName" class="col-sm-2 col-form-label">Task:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="taskName" placeholder="task name" name="taskDetail" ngModel
        required />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
    </div>
    <div class="form-check col-sm-10">
      <input class="form-check-input" type="checkbox" value="" id="setParentTask" name="chkIsParent" ngModel required>
      <label class="form-check-label" for="setParentTask">
        Parent Task
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Priority</label>

    <div class="col-sm-10">
      <input type="range" class="custom-range" max="30" min="0" id="formControlRange" name="priority" ngModel required>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Parent Task</label>
    <div class="col-sm-8 ">
      <input type="text" class="form-control" id="parentTask" placeholder="parent task" name="parentTask" ngModel
        required />
    </div>
    <button class="btn btn-info col-sm-2 btn-sm" type="button">Search</button>
  </div>
  <div class="form-group row">
    <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-4">
      <input type="date" id="startDate" class="form-control" placeholder="start date" name="startDate" ngModel
        required />
    </div>

    <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-4">
      <input type="date" id="endDate" class="form-control" placeholder="end date" name="endDate" ngModel required />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">User: </label>
    <div class="col-sm-8 ">
      <input type="text" class="form-control" id="parentTask" placeholder="user" name="username" ngModel required />
    </div>
    <button class="btn btn-info col-sm-2 btn-sm" type="button">Search</button>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10 text-right">
      <button type="submit" class="btn btn-primary mr-2">Add Task</button>
      <button type="button" class="btn btn-secondary">Reset</button>
    </div>
  </div>
</form>
<div class="row">
    <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition modal-backdrop-grey" [ngStyle]="{'display':display}"></div>       
  <!-- Modal section -->
  <div id="bootstrapModel" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">              
          <h6 class="modal-title">Managers List</h6>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        </div>
        <!-- model body section -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" id="searchmanager" placeholder="Search Manager..." name="project" ngModel required />
                </div>
              </div>
              <div class="row">
                  <ul class="list-group list-group-flush col-md-12">
                      <li *ngFor="let user of Users" class='list-group-item d-flex justify-content-between align-items-center'
                        [class.selected]="user === selectedItem"
                        (click)="onSelect(user)">
                        {{user.name}} <span>{{user.id}}</span> 
                      </li>
                    </ul>
              </div>
              <div class="row d-none" *ngIf="selectedItem" >
                  <div><span>id: </span>{{selectedItem.id}}</div>
                  <div>
                    <label>name: {{selectedItem.name}}                        
                    </label>
                  </div>
                
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>           
          <button type="button" class="btn btn-primary" (click)="onSelectedManager()">Select</button>            
        </div>
      </div>
    </div>
  </div>
</div>